.first-name,
.last-name {
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.email {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 196px;
  display: block;
  margin-bottom: 10px;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
}
.sign-up-button {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 160px;
  padding-right: 160px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
