.box {
  font-style: Arial;
  width: 330px;
  background-color: black;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 0px;
  display: inline-block;
}
.heading {
  color: white;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 0px;
}
.description {
  margin-top: 10px;
  color: gray;
  line-height: 14px;
}
