p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.name {
  font-weight: bold;
  padding-left: 6px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.mutual-friends {
  padding-left: 6px;
  padding-top: 0px;
  padding-bottom: 8px;
}
.add-friend-button {
  background-color: rgb(81, 124, 240);
  color: white;
  border: none;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 6px;
  margin-bottom: 6px;
}
